{% extends "admin/base_site.html" %}
{% load menu_tags adminmedia i18n %}

{% block bodyclass %}change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../">{% trans 'Home' %}</a>
    &rsaquo; <a href="../../">{{ app_label|capfirst }}</a>
    &rsaquo; <a href="../">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ title }}
</div>
{% endblock %}
{% endif %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<style type="text/css">
li.descendant a {
    background: white;
    color: #5B80B2;
    font-weight: normal;
}

li.selecteddescendant a, .selected a, li.selectedsibling a {
    font-weight: bold;
    background: #5B80B2;
    color: white;
}

#menupreview a:hover {
    text-decoration: underline;
}

#loader-message {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 4px 8px;
    background-color: #F1F8FF;
    display: none;
}
</style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.init.js"></script>
{% endblock %}

{% block content %}
<div id="content-main">
<div id="loader-message">{% trans 'Loading...' %}</div>
<form action="" method="GET" accept-charset="UTF-8">
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <fieldset class="module aligned">
        {% for field in form %}
        <div class="form-row {{ field.id_for_label }}">
            <div>
                {{ field.label_tag }} {{ field }}{% if field.help_text %} <p class="help">{{ field.help_text }}</p>{% endif %}
            </div>
        </div>
        {% endfor %}
    </fieldset>
    <div class="submit-row">
        <input id="menupreview_submit" class="default" type="submit" value="Preview">
    </div>
</form>
    <ul id="menupreview">
        {% include subtemplate %}
    </ul>
</div>
<script type="text/javascript">
(function($) {
     $(document).ready(function() {
         var loading = $('#loader-message');
         var menu = $('#menupreview');
         $('form').submit(function(e) {
            e.preventDefault();
            loading.show();
            menu.hide();
            var formaction = $(this).attr('action');
            var formdata = $(this).serialize();
            $.ajax({
                url: formaction
                , cache: false
                , data: formdata
                , success: function(d) {
                    menu.html(d).fadeIn(500);
                    loading.hide();
                }
                , error: function() {
                    menu.fadeIn(500);
                    loading.hide();
                }
            });
    });});
})(django.jQuery);
</script>
{% endblock %}
